{% extends 'base.html' %}
{% block content %}
<form  method="post" style="font-size: small;
text-align: center;">
    <h4>Signup Page</h4>
    <div class="mb-3">
        <label class="form-label ">User Name</label>
        <input class="form-control" name="username">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email
            address</label>
        <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email
            with anyone else.</div>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" name="password">
    </div>
    <select class="form-select fs-6" aria-label="Select Role of User" name="role">
        <option selected>Select Role of User</option>
        <option value="user">user</option>
        <option value="admin">admin</option>
    </select>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}